@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .h-nav:after, .c-manufacture__item:after, .c-trailers__bottom:after, .c-contacts__row:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .h-nav:before, .c-manufacture__item:before, .c-trailers__bottom:before, .c-contacts__row:before {
  content: '';
  display: table;
}

.hidden {
  display: none;
}

.btn {
  height: 54px;
  line-height: 52px;
  border: 1px solid #ffea00;
  background-color: #ffea00;
  padding: 0 30px;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
}

.btn:hover, .btn:focus, .btn:active {
  text-decoration: none;
  background-color: transparent;
  color: #495057;
}

.h-logo {
  display: inline-block;
}

.h-logo__img {
  display: block;
  max-width: 100%;
}

.h-catalog {
  line-height: 24px;
  color: #333;
  font-family: "MyriadProBold", sans-serif;
}

.h-catalog:hover, .h-catalog:focus, .h-catalog:active {
  text-decoration: underline;
  color: #333;
}

.h-phone {
  padding-left: 33px;
  position: relative;
  line-height: 24px;
}

.h-phone__icon {
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/header-phone.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}

.h-phone__number {
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
}

.h-phone__callme {
  font-size: 14px;
  color: #329af0;
  text-decoration: underline;
}

.h-phone__callme:hover, .h-phone__callme:focus, .h-phone__callme:active {
  text-decoration: none;
  color: #329af0;
}

.h-letters {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  background-image: url(../img/icons/header-letters.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.h-mobphone {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  background-image: url(../img/icons/header-mobphone.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.h-basket {
  width: 227px;
  height: 63px;
  display: block;
  background-color: #ffea00;
  border-radius: 28px;
  padding-left: 86px;
  position: relative;
  padding-top: 13.5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
}

.h-basket:hover, .h-basket:focus, .h-basket:active {
  text-decoration: none;
}

.h-basket__icon {
  background-image: url(../img/icons/header-basket.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 31px;
  display: block;
  position: absolute;
  left: 30.5px;
  top: 50%;
  margin-top: -15.5px;
}

.h-basket__quantity {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #030303;
}

.h-basket__price {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #030303;
}

.h-basket__price::after {
  content: 'руб.';
}

.h-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
}

.h-nav__mobbtn {
  float: left;
  width: 48px;
  height: 39px;
  background-image: url(../img/icons/bar.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.h-nav__item {
  display: block;
}

.h-nav__item-last .h-nav__link {
  background-color: #329af0;
  color: #fff;
  padding: 0 18px;
  border-radius: 16px;
  border: 1px solid #329af0;
  height: 37px;
  line-height: 35px;
}

.h-nav__item-last .h-nav__link:hover, .h-nav__item-last .h-nav__link:focus, .h-nav__item-last .h-nav__link:active {
  color: #329af0;
  background-color: transparent;
  text-decoration: none;
}

.h-nav__link {
  color: #333;
  line-height: 37px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.h-nav__link:hover, .h-nav__link:focus, .h-nav__link:active {
  text-decoration: underline;
  color: #333;
}

.c-caption-left {
  padding: 46px 0 86px;
}

.c-caption-right {
  height: 100%;
  position: absolute;
  top: -37px;
  left: 36px;
  right: 0;
  bottom: -37px;
}

.c-caption__title {
  font-size: 72px;
  line-height: 85px;
  font-family: "MyriadProBold", sans-serif;
  margin-bottom: 60px;
  display: block;
}

.c-caption__anchor {
  line-height: 24px;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  border-bottom: 1px solid #c3b71d;
  margin-right: 30px;
  position: relative;
}

.c-caption__anchor::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 50%;
  width: 9px;
  height: 13px;
  margin-top: -6.5px;
  background-image: url(../img/icons/download-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.c-caption__anchor:hover, .c-caption__anchor:focus, .c-caption__anchor:active {
  text-decoration: none;
  border-color: transparent;
  color: #495057;
}

.c-caption__img {
  height: 100%;
  width: auto;
  display: block;
  height: 458px;
}

.aboutGT-left {
  position: relative;
  padding-right: 86px;
}

.aboutGT__title {
  font-size: 36px;
  line-height: 48px;
  color: #333;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.aboutGT__description {
  display: block;
  line-height: 30px;
  color: #030303;
}

.aboutGT__description a {
  display: inline;
  color: #329af0;
  text-decoration: underline;
}

.aboutGT__description a:hover, .aboutGT__description a:focus, .aboutGT__description a:active {
  text-decoration: none;
  color: #329af0;
}

.aboutGT__img {
  display: inline-block;
  max-width: 100%;
}

.aboutGT__btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

.aboutGT-right {
  padding-top: 46px;
  padding-left: 50px;
}

.aboutGT__item {
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 48px;
}

.aboutGT__subtitle {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
  padding-bottom: 10px;
}

.aboutGT__subdescription {
  font-size: 14px;
  display: block;
  color: #868e96;
  line-height: 24px;
}

.c-manufacture__title {
  color: #fff;
}

.c-manufacture__description {
  color: #fff;
}

.c-manufacture__button {
  margin-top: 92px;
}

.c-manufacture__line {
  background-color: #030303;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 144px;
  padding-top: 40px;
}

.c-manufacture__line .col-md-3 {
  text-align: center;
}

.c-manufacture__item {
  display: inline-block;
}

.c-manufacture__quantity {
  font-family: "MyriadProBold", sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  float: left;
}

.c-manufacture__subtitle {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  float: left;
  padding-left: 10px;
  padding-top: 9px;
  text-align: left;
}

.c-why-right {
  padding-left: 65px;
}

.c-why-left {
  padding-right: 52px;
  position: relative;
  z-index: 2;
}

.c-why__item {
  padding-left: 26px;
  position: relative;
  padding-bottom: 20px;
}

.c-why__num {
  color: #329af0;
  font-size: 25px;
  line-height: 25px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
  position: absolute;
  left: 0;
  top: 22px;
}

.c-why__subtitle {
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.c-why__subdescription {
  color: #868e96;
  font-size: 14px;
  line-height: 24px;
}

.c-why__button {
  margin-top: 20px;
}

.c-why__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.c-dealers-right {
  z-index: 2;
  position: relative;
}

.c-dealers__video {
  border: 7px solid #ffea00;
}

.c-dealers__video iframe {
  display: block;
  width: 100%;
  height: 300px;
}

.c-dealers__title {
  position: relative;
  padding-bottom: 26px;
}

.c-dealers__title::after {
  content: '';
  display: block;
  width: 117px;
  height: 1px;
  background-color: #329af0;
  position: absolute;
  bottom: 0;
  left: -28px;
}

.c-dealers__description {
  color: #fff;
}

.c-dealers__patent {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
}

.c-dealers__wrapper {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #030303;
  height: 296px;
  position: relative;
}

.c-dealers__info {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-trailers__slider .owl-nav {
  position: absolute;
  top: -52px;
  right: 65px;
  width: 90px;
  height: 22px;
}

.c-trailers__slider .owl-prev {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-left.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: left;
}

.c-trailers__slider .owl-prev:hover {
  background-position: right center;
}

.c-trailers__slider .owl-next {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: right;
}

.c-trailers__slider .owl-next:hover {
  background-position: right center;
}

.c-trailers__item {
  padding-right: 65px;
}

.c-trailers__subtitle {
  color: #333;
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  border-bottom: 1px solid #acacac;
  margin: 8px 30px 8px 0;
}

.c-trailers__subtitle:hover, .c-trailers__subtitle:focus, .c-trailers__subtitle:active {
  border-color: transparent;
  color: #333;
}

.c-trailers__mark {
  display: inline-block;
  color: #329af0;
  font-size: 14px;
}

.c-trailers__description {
  font-size: 14px;
  line-height: 24px;
  color: #868e96;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 120px;
  overflow: hidden;
}

.c-trailers__photo {
  height: 250px;
  width: 100%;
  position: relative;
}

.c-trailers__img {
  max-height: 100%;
  max-width: 100%;
  height: auto !important;
  width: auto !important;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-trailers__price {
  font-size: 16px;
  line-height: 24px;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  padding: 20px 0 20px 77px;
}

.c-trailers__price::after {
  content: 'р.';
}

.c-trailers__bottom {
  padding: 0 20px;
}

.c-trailers__button {
  padding-left: 60px;
  background-image: url(../img/icons/basket.png);
  background-repeat: no-repeat;
  background-position: 24px center;
  float: left;
}

.c-trailers__info {
  float: right;
  margin: 12px 30px 12px 0;
  line-height: 30px;
  display: block;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  border-bottom: 1px solid #c3c5c8;
  position: relative;
}

.c-trailers__info::after {
  content: '';
  background-image: url(../img/icons/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.5px;
  right: -30px;
}

.c-trailers__info:hover, .c-trailers__info:focus, .c-trailers__info:active {
  text-decoration: none;
  border-color: transparent;
  color: #495057;
}

.c-photos {
  padding-left: 65px;
}

.c-photos__count {
  font-size: 24px;
  line-height: 48px;
  color: #868e96;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.c-photos__count span {
  position: relative;
  padding-right: 15px;
  display: inline-block;
  color: #030303;
}

.c-photos__count span::after {
  content: '/';
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #030303;
}

.c-photos__slider .owl-nav {
  position: absolute;
  top: -120px;
  right: 25px;
  width: 90px;
  height: 22px;
}

.c-photos__slider .owl-prev {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-left.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: left;
}

.c-photos__slider .owl-prev:hover {
  background-position: right center;
}

.c-photos__slider .owl-next {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: right;
}

.c-photos__slider .owl-next:hover {
  background-position: right center;
}

.c-photos__item {
  text-align: center;
}

.c-photos__img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.c-services__item {
  padding-left: 90px;
  position: relative;
  margin-top: 10px;
}

.c-services__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #333;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: right top;
}

.c-services__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: block;
  font-family: "MyriadProBold", sans-serif;
  padding-bottom: 10px;
}

.c-services__description {
  display: block;
  line-height: 24px;
  color: #868e96;
}

.c-services__button {
  height: 80px;
  display: block;
  line-height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -80px;
  background-color: #ffea00;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  text-align: center;
  padding: 0 15px;
}

.c-services__button:hover, .c-services__button:focus, .c-services__button:active {
  text-decoration: none;
  color: #495057;
}

.c-unique-left {
  padding-left: 65px;
  padding-right: 65px;
}

.c-unique-right {
  padding-left: 65px;
}

.c-unique__more {
  color: #329af0;
  line-height: 24px;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  margin-right: 33px;
  border-bottom: 1px solid #bbdefa;
  position: relative;
}

.c-unique__more:hover, .c-unique__more:focus, .c-unique__more:active {
  border-color: transparent;
  text-decoration: none;
  color: #329af0;
}

.c-unique__more::after {
  content: '';
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  right: -33px;
  top: 50%;
  margin-top: -4.5px;
  background-image: url(../img/icons/right-arrow-blue.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.c-unique__scrollblock {
  padding-bottom: 21px;
  position: relative;
}

.c-unique__scrollblock::after {
  content: '';
  height: 1px;
  width: 79px;
  background-color: #030303;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.c-unique__subdescription {
  font-size: 14px;
  color: #495057;
  line-height: 24px;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.c-contacts-left {
  background-color: #ffea00;
  width: 40%;
  float: left;
  padding: 40px 65px 90px 65px;
  margin-top: -113px;
}

.c-contacts-right {
  width: 60%;
  float: right;
  padding-top: 58px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 65px;
}

.c-contacts__linetitle {
  padding-bottom: 26px;
  position: relative;
}

.c-contacts__linetitle::after {
  content: '';
  display: block;
  width: 117px;
  height: 1px;
  background-color: #030303;
  position: absolute;
  bottom: 0;
  left: -28px;
}

.c-contacts__block {
  padding-top: 30px;
}

.c-contacts__block b {
  color: #030303;
  line-height: 30px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.c-contacts__block p {
  color: #030303;
  line-height: 30px;
}

.c-contacts__block a {
  color: #030303;
  line-height: 30px;
}

.c-contacts__row {
  padding-top: 26px;
}

.c-contacts__row .c-contacts__input:first-child {
  width: 36.66667%;
  float: left;
}

.c-contacts__row .c-contacts__input:last-child {
  width: 52.5%;
  float: right;
}

.c-contacts__input {
  height: 45px;
  border-left: none;
  border-right: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #565656;
  background-color: transparent;
  color: #fff;
  font-family: "MyriadProBold", sans-serif;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.c-contacts__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__button {
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
  margin-top: 20px;
  width: 200px;
}

.f-buttons__item {
  height: 80px;
  line-height: 78px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
  width: 100%;
  text-align: center;
}

.f-buttons__top {
  background-color: #329af0;
  border-color: #329af0;
  color: #fff;
}

.f-buttons__top:hover, .f-buttons__top:focus, .f-buttons__top:active {
  text-decoration: none;
  color: #329af0;
  background-color: transparent;
}

.f-buttons__center {
  background-color: #ffea00;
  border-color: #ffea00;
  color: #030303;
  margin-top: 20px;
}

.f-buttons__center:hover, .f-buttons__center:focus, .f-buttons__center:active {
  text-decoration: none;
  color: #ffea00;
  background-color: transparent;
}

.f-buttons__bottom {
  color: #495057;
}

.f-buttons__bottom:hover, .f-buttons__bottom:focus, .f-buttons__bottom:active {
  text-decoration: none;
  color: #495057;
}
