@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .h-nav:after, .c-manufacture__item:after, .c-trailers__bottom:after, .c-contacts__row:after, .c-basket__wp:after, .header__h-nav:after, .content__c-contacts:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .h-nav:before, .c-manufacture__item:before, .c-trailers__bottom:before, .c-contacts__row:before, .c-basket__wp:before, .header__h-nav:before, .content__c-contacts:before {
  content: '';
  display: table;
}

.hidden {
  display: none;
}

.fancybox-slide > div {
  padding: 0;
  margin: 0;
}

.fancybox-close-small::after {
  display: none;
}

.fancybox-close-small {
  background-image: url(../img/icons/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 21px;
  height: 21px;
  top: 35px;
  right: 66px;
}

.fancybox-close-small:hover {
  opacity: 0.8;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .h-nav:after, .c-manufacture__item:after, .c-trailers__bottom:after, .c-contacts__row:after, .c-basket__wp:after, .header__h-nav:after, .content__c-contacts:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .h-nav:before, .c-manufacture__item:before, .c-trailers__bottom:before, .c-contacts__row:before, .c-basket__wp:before, .header__h-nav:before, .content__c-contacts:before {
  content: '';
  display: table;
}

.hidden {
  display: none;
}

.fancybox-slide > div {
  padding: 0;
  margin: 0;
}

.fancybox-close-small::after {
  display: none;
}

.fancybox-close-small {
  background-image: url(../img/icons/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 21px;
  height: 21px;
  top: 35px;
  right: 66px;
}

.fancybox-close-small:hover {
  opacity: 0.8;
}

.btn {
  height: 54px;
  line-height: 52px;
  border: 1px solid #ffea00;
  background-color: #ffea00;
  padding: 0 30px;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
}

.btn:hover {
  text-decoration: none;
  background-color: #fff700;
  color: #495057;
}

.btn:focus, .btn:active {
  text-decoration: none;
  background-color: #ffe100;
  color: #495057;
}

.h-logo {
  display: inline-block;
}

.h-logo__img {
  display: block;
  max-width: 100%;
}

.h-catalog {
  line-height: 24px;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
}

.h-catalog:hover {
  text-decoration: none;
  color: #495057;
}

.h-catalog:focus, .h-catalog:active {
  text-decoration: none;
  color: #6b7580;
}

.h-phone {
  padding-left: 33px;
  position: relative;
  line-height: 24px;
}

.h-phone__icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  fill: #868e96;
}

.h-phone__number {
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
}

.h-phone__callme {
  font-size: 14px;
  color: #329af0;
  text-decoration: underline;
}

.h-phone__callme:hover, .h-phone__callme:focus, .h-phone__callme:active {
  text-decoration: underline;
  color: #329af0;
}

.h-letters {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  position: relative;
}

.h-letters:hover {
  background-color: #329af0;
}

.h-letters:hover .h-letters__icon {
  fill: #fff;
}

.h-letters__icon {
  width: 22px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  fill: #868e96;
}

.h-mobphone {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: relative;
}

.h-mobphone__icon {
  width: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  fill: #868e96;
}

.h-basket {
  width: 227px;
  height: 63px;
  display: block;
  background-color: #ffea00;
  border-radius: 28px;
  padding-left: 86px;
  position: relative;
  padding-top: 13.5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(255, 234, 0, 0.7);
}

.h-basket:hover {
  text-decoration: none;
  background-color: #fff700;
}

.h-basket:focus, .h-basket:active {
  text-decoration: none;
  background-color: #ffe100;
}

.h-basket__icon {
  height: 31px;
  display: block;
  position: absolute;
  left: 30.5px;
  top: 50%;
  fill: #030303;
  margin-top: -15.5px;
}

.h-basket__quantity {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #030303;
}

.h-basket__price {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #030303;
}

.h-basket__price::after {
  content: 'руб.';
}

.h-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
}

.h-nav__mobbtn {
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-nav__icon {
  height: 43px;
  width: 48px;
  display: block;
  fill: #030303;
}

.h-nav__item {
  display: block;
}

.h-nav__item-last .h-nav__link {
  background-color: #329af0;
  color: #fff;
  padding: 0 18px;
  border-radius: 16px;
  border: 1px solid #329af0;
  height: 37px;
  line-height: 35px;
  position: relative;
}

.h-nav__item-last .h-nav__link::after {
  content: '!';
  color: #fff;
  display: block;
  font-family: "MyriadProBold", sans-serif;
  position: absolute;
  left: 12px;
  top: -4px;
}

.h-nav__item-last .h-nav__link:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  background-color: #008cff;
}

.h-nav__item-last .h-nav__link:focus, .h-nav__item-last .h-nav__link:active {
  color: #fff;
  background-color: #0080ff;
}

.h-nav__link {
  color: #030303;
  line-height: 37px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.h-nav__link:hover {
  text-decoration: none;
  color: #495057;
}

.h-nav__link:focus, .h-nav__link:active {
  text-decoration: none;
  color: #6b7580;
}

.c-caption-left {
  padding: 46px 0 86px;
}

.c-caption-right {
  height: 100%;
  margin-bottom: -37px;
  margin-top: -37px;
  padding-left: 65px;
  overflow: hidden;
}

.c-caption__title {
  font-size: 72px;
  line-height: 85px;
  font-family: "MyriadProBold", sans-serif;
  margin-bottom: 60px;
  display: block;
}

.c-caption__anchor {
  line-height: 24px;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  border-bottom: 1px solid #c3b71d;
  margin-right: 30px;
  position: relative;
}

.c-caption__anchor::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 50%;
  width: 9px;
  height: 13px;
  margin-top: -6.5px;
  background-image: url(../img/icons/download-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.c-caption__anchor:hover, .c-caption__anchor:focus, .c-caption__anchor:active {
  text-decoration: none;
  color: #030303;
}

.c-caption__img {
  height: 100%;
  width: auto;
  display: block;
}

.aboutGT-left {
  position: relative;
  padding-right: 86px;
}

.aboutGT__title {
  font-size: 36px;
  line-height: 48px;
  color: #333;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.aboutGT__description {
  display: block;
  line-height: 30px;
  color: #030303;
}

.aboutGT__description a {
  display: inline;
  color: #329af0;
  text-decoration: underline;
}

.aboutGT__description a:hover, .aboutGT__description a:focus, .aboutGT__description a:active {
  text-decoration: none;
  color: #329af0;
}

.aboutGT__img {
  display: inline-block;
  max-width: 100%;
}

.aboutGT__btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

.aboutGT-right {
  padding-top: 46px;
  padding-left: 50px;
}

.aboutGT__item {
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 48px;
}

.aboutGT__subtitle {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
  padding-bottom: 10px;
}

.aboutGT__subdescription {
  font-size: 14px;
  display: block;
  color: #868e96;
  line-height: 24px;
}

.c-manufacture__title {
  color: #fff;
}

.c-manufacture__description {
  color: #fff;
}

.c-manufacture__button {
  margin-top: 92px;
}

.c-manufacture__line {
  background-color: #030303;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 144px;
  padding-top: 40px;
}

.c-manufacture__line .col-md-3 {
  text-align: center;
}

.c-manufacture__item {
  display: inline-block;
}

.c-manufacture__quantity {
  font-family: "MyriadProBold", sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  float: left;
}

.c-manufacture__subtitle {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  float: left;
  padding-left: 10px;
  padding-top: 9px;
  text-align: left;
}

.c-why-right {
  padding-left: 65px;
}

.c-why-left {
  padding-right: 52px;
  position: relative;
  z-index: 2;
}

.c-why__item {
  padding-left: 26px;
  position: relative;
  padding-bottom: 20px;
}

.c-why__num {
  color: #329af0;
  font-size: 25px;
  line-height: 25px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
  position: absolute;
  left: 0;
  top: 22px;
}

.c-why__subtitle {
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.c-why__subdescription {
  color: #868e96;
  font-size: 14px;
  line-height: 24px;
}

.c-why__button {
  margin-top: 20px;
}

.c-why__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.c-dealers-right {
  z-index: 2;
  position: relative;
}

.c-dealers__video {
  border: 7px solid #ffea00;
}

.c-dealers__video iframe {
  display: block;
  width: 100%;
  height: 300px;
}

.c-dealers__title {
  position: relative;
  padding-bottom: 26px;
}

.c-dealers__title::after {
  content: '';
  display: block;
  width: 117px;
  height: 1px;
  background-color: #329af0;
  position: absolute;
  bottom: 0;
  left: -28px;
}

.c-dealers__description {
  color: #fff;
}

.c-dealers__patent {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
}

.c-dealers__wrapper {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #030303;
  height: 296px;
  position: relative;
}

.c-dealers__info {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-trailers__slider .owl-nav {
  position: absolute;
  top: -52px;
  right: 65px;
  width: 90px;
  height: 22px;
}

.c-trailers__slider .owl-prev {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-left.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: left;
}

.c-trailers__slider .owl-prev:hover {
  background-position: right center;
}

.c-trailers__slider .owl-next {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: right;
}

.c-trailers__slider .owl-next:hover {
  background-position: right center;
}

.c-trailers__item {
  padding-right: 65px;
}

.c-trailers__subtitle {
  color: #333;
  font-family: "MyriadProBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  border-bottom: 1px solid #acacac;
  margin: 8px 30px 8px 0;
}

.c-trailers__subtitle:hover, .c-trailers__subtitle:focus, .c-trailers__subtitle:active {
  text-decoration: none;
  color: #030303;
}

.c-trailers__mark {
  display: inline-block;
  color: #329af0;
  font-size: 14px;
}

.c-trailers__description {
  font-size: 14px;
  line-height: 24px;
  color: #868e96;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.c-trailers__photo {
  height: 250px;
  width: 100%;
  position: relative;
}

.c-trailers__img {
  max-height: 100%;
  max-width: 100%;
  height: auto !important;
  width: auto !important;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-trailers__price {
  font-size: 16px;
  line-height: 24px;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  padding: 20px 0 20px 77px;
}

.c-trailers__price::after {
  content: 'р.';
}

.c-trailers__bottom {
  padding: 0 20px;
}

.c-trailers__button {
  padding-left: 60px;
  float: left;
  position: relative;
}

.c-trailers__button svg {
  fill: #495057;
  display: block;
  height: 29px;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-trailers__info {
  margin: 12px 30px 12px 0;
  line-height: 30px;
  display: block;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  border-bottom: 1px solid #c3c5c8;
  position: relative;
}

.c-trailers__info-wp {
  float: right;
}

.c-trailers__info-wpi {
  float: right;
}

.c-trailers__info::after {
  content: '';
  background-image: url(../img/icons/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4.5px;
  right: -30px;
}

.c-trailers__info:hover, .c-trailers__info:focus, .c-trailers__info:active {
  text-decoration: none;
  color: #030303;
}

.c-photos {
  padding-left: 65px;
}

.c-photos__count {
  font-size: 24px;
  line-height: 48px;
  color: #868e96;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.c-photos__count span {
  position: relative;
  padding-right: 15px;
  display: inline-block;
  color: #030303;
}

.c-photos__count span::after {
  content: '/';
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #030303;
}

.c-photos__slider .owl-nav {
  position: absolute;
  top: -120px;
  right: 25px;
  width: 90px;
  height: 22px;
}

.c-photos__slider .owl-prev {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-left.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: left;
}

.c-photos__slider .owl-prev:hover {
  background-position: right center;
}

.c-photos__slider .owl-next {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: right;
}

.c-photos__slider .owl-next:hover {
  background-position: right center;
}

.c-photos__item {
  text-align: center;
}

.c-photos__img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.c-services__item {
  padding-left: 90px;
  position: relative;
  margin-top: 10px;
}

.c-services__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #333;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: right top;
  overflow: hidden;
}

.c-services__icon svg {
  fill: #329af0;
  display: block;
  width: 50px;
  position: absolute;
  right: -5px;
  top: 0;
}

.c-services__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: block;
  font-family: "MyriadProBold", sans-serif;
  padding-bottom: 10px;
}

.c-services__description {
  display: block;
  line-height: 24px;
  color: #868e96;
}

.c-services__button {
  height: 80px;
  display: block;
  line-height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -80px;
  background-color: #ffea00;
  color: #495057;
  font-family: "MyriadProBold", sans-serif;
  text-align: center;
  padding: 0 15px;
}

.c-services__button:hover, .c-services__button:focus, .c-services__button:active {
  text-decoration: none;
  color: #495057;
}

.c-unique-left {
  padding-left: 65px;
  padding-right: 65px;
}

.c-unique-right {
  padding-left: 65px;
}

.c-unique__more {
  color: #329af0;
  line-height: 24px;
  font-family: "MyriadProBold", sans-serif;
  display: inline-block;
  margin-right: 33px;
  border-bottom: 1px solid #bbdefa;
  position: relative;
}

.c-unique__more:hover, .c-unique__more:focus, .c-unique__more:active {
  text-decoration: none;
  color: #0080ff;
}

.c-unique__more::after {
  content: '';
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  right: -33px;
  top: 50%;
  margin-top: -4.5px;
  background-image: url(../img/icons/right-arrow-blue.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.c-unique__scrollblock {
  padding-bottom: 21px;
  position: relative;
}

.c-unique__scrollblock::after {
  content: '';
  height: 1px;
  width: 79px;
  background-color: #030303;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.c-unique__subdescription {
  font-size: 14px;
  color: #495057;
  line-height: 24px;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.c-contacts-left {
  background-color: #ffea00;
  width: 40%;
  float: left;
  padding: 40px 65px 90px 65px;
  margin-top: -113px;
}

.c-contacts-right {
  width: 60%;
  float: right;
  padding-top: 58px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 65px;
}

.c-contacts__linetitle {
  padding-bottom: 26px;
  position: relative;
}

.c-contacts__linetitle::after {
  content: '';
  display: block;
  width: 117px;
  height: 1px;
  background-color: #030303;
  position: absolute;
  bottom: 0;
  left: -28px;
}

.c-contacts__block {
  padding-top: 30px;
}

.c-contacts__block b {
  color: #030303;
  line-height: 30px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
}

.c-contacts__block p {
  color: #030303;
  line-height: 30px;
}

.c-contacts__block a {
  color: #030303;
  line-height: 30px;
}

.c-contacts__row {
  padding-top: 26px;
}

.c-contacts__row .c-contacts__input:first-child {
  width: 36.66667%;
  float: left;
}

.c-contacts__row .c-contacts__input:last-child {
  width: 52.5%;
  float: right;
}

.c-contacts__input {
  height: 45px;
  border-left: none;
  border-right: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #565656;
  background-color: transparent;
  color: #fff;
  font-family: "MyriadProBold", sans-serif;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.c-contacts__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.c-contacts__button {
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
  margin-top: 20px;
  width: 200px;
}

.c-contacts__button:hover {
  text-decoration: none;
  background-color: #fff700;
  border-color: #fff700;
  color: #495057;
}

.c-contacts__button:focus, .c-contacts__button:active {
  text-decoration: none;
  background-color: #ffe100;
  border-color: #ffe100;
  color: #495057;
}

.f-buttons__item {
  height: 80px;
  line-height: 78px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-family: "MyriadProBold", sans-serif;
  display: block;
  width: 100%;
  text-align: center;
}

.f-buttons__top {
  background-color: #329af0;
  border-color: #329af0;
  color: #fff;
}

.f-buttons__top:hover {
  text-decoration: none;
  color: #fff;
  background-color: #008cff;
}

.f-buttons__top:focus, .f-buttons__top:active {
  text-decoration: none;
  color: #fff;
  background-color: #0080ff;
}

.f-buttons__center {
  background-color: #ffea00;
  border-color: #ffea00;
  color: #495057;
  margin-top: 20px;
}

.f-buttons__center:hover {
  text-decoration: none;
  color: #495057;
  background-color: #fff700;
}

.f-buttons__center:focus, .f-buttons__center:active {
  text-decoration: none;
  color: #495057;
  background-color: #ffe100;
}

.f-buttons__bottom {
  color: #495057;
}

.f-buttons__bottom:hover {
  text-decoration: none;
  color: #030303;
}

.f-buttons__bottom:focus, .f-buttons__bottom:active {
  text-decoration: none;
  color: #030303;
}

.callback {
  width: 636px;
  display: none;
}

.callback__wrapper {
  padding: 54px 65px;
}

.callback__inputs {
  text-align: center;
  padding-top: 30px;
}

.callback__input {
  color: #030303;
  text-align: left;
}

.callback__input::-webkit-input-placeholder {
  color: #030303;
  opacity: 1;
}

.callback__input::-moz-placeholder {
  color: #030303;
  opacity: 1;
}

.callback__input:-moz-placeholder {
  color: #030303;
  opacity: 1;
}

.callback__input:-ms-input-placeholder {
  color: #030303;
  opacity: 1;
}

.callback__button {
  padding: 0 50px !important;
}

.c-title-left {
  text-align: left;
}

.c-title-right {
  text-align: right;
}

.c-title__title {
  line-height: 100px;
  display: block;
}

.c-title__button {
  display: inline-block;
  color: #030303;
  height: 100px;
  width: 285px;
  background-color: #fd0;
  position: relative;
}

.c-title__button span {
  font-family: "MyriadProBold", sans-serif;
  position: absolute;
  display: block;
  top: 50%;
  line-height: 24px;
  transform: translateY(-50%);
  left: 20px;
  right: 20px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  color: #030303;
}

.c-title__button:hover, .c-title__button:focus, .c-title__button:active {
  text-decoration: none;
  color: #030303;
}

.c-name__title {
  line-height: 116px;
  color: #333;
  font-family: "MyriadProBold", sans-serif;
}

.c-card-left {
  padding-right: 45px;
}

.c-card-left .c-trailers__description {
  height: auto;
  padding-right: 35px;
}

.c-card-left .c-trailers__bottom {
  padding: 0;
  max-width: 380px;
}

.c-card-left .c-trailers__price {
  font-size: 24px;
  padding-left: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.c-card-left .c-trailers__info {
  margin-right: 0;
  border-bottom: 1px solid #495057;
}

.c-card-left .c-trailers__info::after {
  display: none;
}

.c-card-right .c-trailers__subtitle {
  border-bottom: none;
}

.c-card__slider {
  padding-left: 65px;
  padding-right: 65px;
}

.c-card__slider .owl-nav {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: 22px;
  margin-top: -11px;
  z-index: -1;
}

.c-card__slider .owl-prev {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-left.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: left;
}

.c-card__slider .owl-prev:hover {
  background-position: right center;
}

.c-card__slider .owl-next {
  width: 30px;
  height: 22px;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icons/slider-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  float: right;
}

.c-card__slider .owl-next:hover {
  background-position: right center;
}

.c-card__slider .owl-dots {
  position: absolute;
  height: 8px;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
}

.c-card__slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background-color: #ffea00;
  border-radius: 50%;
  display: inline-block;
  margin: 0 7px;
}

.c-card__slider .owl-dots .active {
  background-color: #868e96;
}

.c-card__slide {
  width: 100%;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important;
  display: flex !important;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  height: 250px;
}

.c-card__slide-link {
  display: block;
}

.c-card__img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  width: auto !important;
  height: auto !important;
}

.c-card__list {
  padding-top: 7px;
}

.c-card__item {
  color: #495057;
  line-height: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  position: relative;
}

.c-card__item::before {
  content: '';
  width: 16px;
  height: 1px;
  position: absolute;
  background-color: #329af0;
  left: 0;
  top: 16px;
  display: block;
}

.c-card__item::after {
  content: '';
  width: 17px;
  height: 1px;
  position: absolute;
  background-color: #b3d4f8;
  left: 0;
  top: 17px;
  display: block;
}

.c-instructions-left {
  height: 119px;
  position: relative;
}

.c-instructions-right {
  height: 119px;
  position: relative;
}

.c-instructions__download {
  line-height: 24px;
  font-family: "MyriadProBold", sans-serif;
  color: #868e96;
  display: inline-block;
  border-bottom: 1px solid #d7dadc;
  margin-left: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin-right: 33px;
}

.c-instructions__download::before {
  content: '';
  width: 31px;
  height: 35px;
  display: block;
  background-image: url(../img/icons/pdf.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: -69px;
  top: 50%;
  margin-top: -17.5px;
}

.c-instructions__download::after {
  content: '';
  width: 13px;
  height: 9px;
  display: block;
  background-image: url(../img/icons/right-arrow-gray.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: -33px;
  top: 9px;
}

.c-instructions__download:hover, .c-instructions__download:focus, .c-instructions__download:active {
  text-decoration: none;
  color: #030303;
}

.c-instructions__list {
  font-size: 0;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-instructions__item {
  display: inline-block;
  position: relative;
}

.c-instructions__item-active::after {
  background-image: url(../img/icons/right-arrow-blue.png);
}

.c-instructions__item-active .c-instructions__link {
  color: #329af0;
}

.c-instructions__item-active .c-instructions__link:hover, .c-instructions__item-active .c-instructions__link:focus, .c-instructions__item-active .c-instructions__link:active {
  color: #008cff;
}

.c-instructions__link {
  font-size: 16px;
  color: #868e96;
  line-height: 24px;
  border-bottom: 1px solid #d4d6d9;
  margin-right: 30px;
  margin-left: 40px;
  position: relative;
  display: inline-block;
}

.c-instructions__link::after {
  content: '';
  width: 13px;
  height: 9px;
  display: block;
  background-image: url(../img/icons/right-arrow-gray.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: -30px;
  top: 9px;
}

.c-instructions__link:hover, .c-instructions__link:focus, .c-instructions__link:active {
  text-decoration: none;
  color: #030303;
}

.c-categories-left {
  padding-right: 65px;
}

.c-categories-right {
  padding-left: 65px;
}

.c-categories .c-trailers__bottom {
  padding: 10px 0 0 0;
}

.c-categories__item {
  position: relative;
}

.c-categories__arrow {
  position: absolute;
  width: 30px;
  height: 22px;
  background-image: url(../img/icons/slider-right.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  right: 0;
  top: 15px;
  display: block;
}

.c-goods .c-trailers__price {
  font-size: 24px;
}

.c-goods .c-trailers__price {
  padding-left: 25px;
}

.c-basket__table {
  width: 100%;
  table-layout: fixed;
}

.c-basket__table .c-basket__item {
  height: auto;
}

.c-basket__wp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-basket__wp .minus {
  color: #868e96;
  font-size: 20px;
  display: block;
  float: left;
  font-family: "MyriadProBold", sans-serif;
  width: 30px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  border: none;
}

.c-basket__wp .minus:hover, .c-basket__wp .minus:focus, .c-basket__wp .minus:active {
  text-decoration: none;
  color: #329af0;
}

.c-basket__wp input {
  display: block;
  float: left;
  width: 50px;
  border: none;
  background-color: transparent;
  text-align: right;
  height: 36px;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  line-height: 36px;
}

.c-basket__wp .plus {
  color: #868e96;
  font-size: 20px;
  display: block;
  float: left;
  font-family: "MyriadProBold", sans-serif;
  width: 30px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  border: none;
}

.c-basket__wp .plus:hover, .c-basket__wp .plus:focus, .c-basket__wp .plus:active {
  text-decoration: none;
  color: #329af0;
}

.c-basket__top {
  border-bottom: 1px solid #e7e8ea;
}

.c-basket__top .c-basket__item {
  font-size: 14px;
  color: #868e96;
  font-family: "MyriadProBold", sans-serif;
  height: 76px;
  vertical-align: middle;
}

.c-basket__item {
  display: block;
  width: 100%;
  position: relative;
}

.c-basket__item a {
  line-height: 26px;
  display: inline-block;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  border-bottom: 1px solid #acacac;
}

.c-basket__item a:hover, .c-basket__item a:focus, .c-basket__item a:active {
  color: #030303;
  text-decoration: none;
}

.c-basket__span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
}

.c-basket__row {
  border-bottom: 1px solid #e7e8ea;
}

.c-basket__row .c-basket__item {
  height: 140px;
}

.c-basket__img {
  width: 109px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-basket__img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.c-basket__link {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-basket__subprice {
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  line-height: 36px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-basket__subprice::after {
  content: 'р.';
}

.c-basket__close {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url(../img/icons/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none !important;
  position: absolute;
  top: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-oformit-top {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.c-oformit__text {
  display: inline-block;
  font-size: 18px;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  line-height: 24px;
}

.c-oformit__text-c {
  font-size: 24px;
}

.c-oformit__text-r {
  font-size: 24px;
}

.c-oformit__text-r::after {
  content: ' руб.';
  font-size: 18px;
}

.c-oformit-bottom {
  text-align: center;
}

.c-oformit-bottom .btn {
  display: inline-block;
  float: none;
}

.c-defference-fall .c-trailers__mark {
  color: #868e96;
}

.c-defference-fall .c-trailers__description {
  color: #868e96 !important;
}

.c-defference .c-trailers__subtitle {
  border-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
}

.c-defference .c-trailers__description {
  color: #333;
}

.c-defference__photo {
  height: 268px;
  width: 100%;
  display: block;
  background-size: cover;
  border: 1px solid #e7e8ea;
  background-position: center center;
  margin-bottom: 65px;
  margin-top: 65px;
}

.c-defference__arrow {
  width: 53px;
  height: 53px;
  display: block;
  background-image: url(../img/icons/53.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 5;
}

.c-categories__active .c-name__title {
  color: #329af0;
}

.c-purchase__input {
  height: 45px;
  border-left: none;
  border-right: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #acacac;
  background-color: transparent;
  color: #030303;
  font-family: "MyriadProBold", sans-serif;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.c-purchase__input::-webkit-input-placeholder {
  color: #030303;
  opacity: 1;
}

.c-purchase__input::-moz-placeholder {
  color: #030303;
  opacity: 1;
}

.c-purchase__input:-moz-placeholder {
  color: #030303;
  opacity: 1;
}

.c-purchase__input:-ms-input-placeholder {
  color: #030303;
  opacity: 1;
}

.c-purchase-right {
  padding-top: 42px;
}

.c-purchase__textarea {
  height: 92px;
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 30px;
  resize: none;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "MyriadProRegular", sans-serif;
  overflow-x: hidden;
  -webkit-transform: translateZ(0px);
  color: #030303;
}

body::before {
  content: '';
  width: 50%;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
}

body::after {
  content: '';
  width: 50%;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: -1;
}

.header {
  padding-top: 56px;
  position: relative;
}

.header__h-logo {
  padding-top: 9px;
}

.header__h-catalog {
  padding-top: 21px;
}

.header__h-phone {
  padding-top: 9px;
}

.header__h-letters {
  float: right;
  padding-right: 28px;
}

.header__h-basket {
  float: right;
}

.header__h-nav {
  padding: 70px 40px 0;
}

.header__h-mobphone {
  float: right;
  padding-right: 54px;
}

.content {
  padding-top: 53px;
}

.content__section-yellow {
  background-color: #ffea00;
  margin: 37px 0;
}

.content__section-first {
  padding-top: 56px;
  padding-bottom: 100px;
}

.content__section-second {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0 244px;
  position: relative;
}

.content__section-third {
  padding: 100px 0;
}

.content__section-fourth {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.content__section-fourth::after {
  content: '';
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #030303;
}

.content__section-fourth::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  bottom: 100%;
  right: 0;
  background-color: #030303;
  height: 296px;
}

.content__section-fifth {
  padding: 100px 0;
}

.content__section-sixth {
  background-color: #030303;
  padding: 100px 0;
  margin-bottom: 80px;
  position: relative;
}

.content__section-seventh {
  padding: 100px 0;
}

.content__section-eighth {
  background-color: #030303;
}

.content__section-map {
  width: 100%;
}

.content__section-map img {
  display: block;
  width: 100%;
  height: auto;
}

.content__section-title {
  background-color: #ffea00;
  height: 100px;
}

.content__section-name {
  height: 117px;
  border-bottom: 1px solid #e7e8ea;
}

.content__section-card {
  padding-top: 65px;
  padding-bottom: 97px;
  border: 1px solid #e7e8ea;
}

.content__section-instructions {
  height: 120px;
  border: 1px solid #e7e8ea;
  margin-bottom: 194px;
}

.content__section-categories {
  padding-bottom: 65px;
  padding-top: 65px;
  border: 1px solid #e7e8ea;
}

.content__section-categories-last {
  margin-bottom: 135px;
  border-color: transparent;
}

.content__section-oformit {
  margin-bottom: 194px;
}

.content__section-defference {
  padding-bottom: 65px;
  padding-top: 65px;
  border-bottom: 1px solid #e7e8ea;
  position: relative;
}

.content__section-purchase {
  padding: 65px 0 30px;
}

.content__c-caption {
  position: relative;
}

.footer__h-nav {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__f-buttons {
  padding: 40px 0;
}
