/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .h-catalog {
    font-size: 15px;
  }
  .h-basket {
    width: 200px;
  }
  .header__h-nav {
    font-size: 15px;
  }
  .header__h-nav {
    padding: 45px 0 15px;
  }
  .c-caption__title {
    font-size: 60px;
    line-height: 73px;
  }
  .c-caption__img {
    height: 439px;
  }
  .aboutGT-left {
    padding-right: 0;
  }
  .aboutGT-right {
    padding-left: 0;
  }
  .c-manufacture__quantity {
    font-size: 56px;
  }
  .c-why-right {
    padding-left: 0;
  }
  .c-why-left {
    padding-right: 0;
  }
  .aboutGT__title::after {
    display: none;
  }
  .c-trailers__item {
    padding-right: 0;
  }
  .c-photos {
    padding-left: 0;
  }
  .c-trailers__slider .owl-nav {
    right: 25px;
  }
  .c-unique-left {
    padding-left: 0;
    padding-right: 0;
  }
  .c-unique-right {
    padding-left: 0;
  }
  .c-contacts-left {
    padding-left: 55px;
    padding-right: 55px;
  }
  .footer__h-nav {
    padding: 45px 0;
  }
  .c-contacts__linetitle::after {
    display: block;
  }
  .c-categories-left {
    padding-right: 0;
  }
  .c-categories-right {
    padding-left: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  body::before, body::after {
    display: none;
  }
  .header {
    padding-top: 19px;
  }
  .h-logo {
    width: 161px;
  }
  .header__h-letters,
  .h-basket__quantity,
  .h-basket__price {
    display: none;
  }
  .header__h-logo {
    padding-top: 17px;
  }
  .h-basket {
    width: 63px;
    padding-left: 0;
    text-align: center;
  }
  .h-basket__icon {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .header__h-nav {
    position: relative;
    padding-top: 35px;
  }
  .h-nav {
    display: block;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: -15px;
    right: -15px;
    width: auto;
    padding: 10px 0;
    top: 100%;
    display: none;
  }
  .h-nav__item {
    text-align: center;
    padding: 4px 0;
  }
  .h-nav__link {
    display: inline-block;
  }
  .h-catalog {
    display: block;
    float: left;
    line-height: 39px;
    margin-left: 42px;
  }
  .c-caption-right {
    position: static;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
  .c-caption__img {
    height: auto;
    width: 100%;
  }
  .c-caption__title {
    font-size: 60px;
    line-height: 85px;
  }
  .c-caption-left {
    padding: 58px 0;
  }
  .c-caption__title {
    margin-bottom: 32px;
  }
  .content__section-yellow {
    margin: 0;
  }
  .content {
    padding-top: 30px;
  }
  .content__section-first {
    padding-top: 100px;
    padding-bottom: 22px;
  }
  .aboutGT-left {
    margin-bottom: 75px;
  }
  .aboutGT-right {
    padding-top: 0;
  }
  .c-manufacture__line {
    display: none;
  }
  .content__section-second {
    padding-bottom: 100px;
  }
  .c-manufacture__button {
    margin-top: 60px;
  }
  .c-why-right {
    padding-top: 40px;
  }
  .c-dealers__patent {
    position: static;
    background-color: #030303;
  }
  .content__section-fourth {
    padding-top: 0;
  }
  .content__section-fourth::before, .content__section-fourth::after {
    display: none;
  }
  .c-dealers-left {
    padding-top: 90px;
  }
  .c-dealers-right {
    padding-bottom: 90px;
    background-color: #030303;
    position: relative;
    padding-top: 0;
  }
  .c-dealers-right::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: auto;
    left: -900px;
    right: -900px;
    background-color: #030303;
    bottom: 0;
    top: 0;
    height: 100%;
  }
  .c-dealers__title::after {
    left: -15px;
    display: block;
  }
  .c-dealers__wrapper {
    height: 240px;
  }
  .c-photos {
    margin-top: 86px;
  }
  .content__section-fifth {
    padding: 80px 0;
  }
  .c-services__item {
    margin-bottom: 80px;
  }
  .content__section-sixth {
    padding-bottom: 20px;
  }
  .content__section-seventh {
    padding-top: 52px;
    padding-bottom: 180px;
  }
  .c-unique-left {
    padding-bottom: 40px;
  }
  .c-contacts-left {
    width: 100%;
  }
  .c-contacts-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
  }
  .footer__h-nav {
    display: none;
  }
  .c-title__button {
    width: 194px;
  }
  .c-trailers__description {
    padding-right: 0;
  }
  .c-card-left {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .c-card-left .c-trailers__bottom {
    max-width: 334px;
  }
  .c-instructions-right {
    clear: top;
  }
  .c-instructions__list {
    width: 100%;
    position: static;
    transform: none;
    -webkit-transform: none;
  }
  .c-instructions__item {
    width: 100%;
    text-align: left;
    padding-bottom: 40px;
  }
  .c-instructions__link {
    margin-left: 0;
  }
  .content__section-instructions {
    margin-bottom: 0;
  }
  .content__section-mob {
    margin-bottom: 160px;
    padding-top: 36px;
  }
  .c-instructions-right {
    height: auto;
  }
  .c-categories .c-trailers__description {
    height: auto;
  }
  .c-goods {
    padding: 30px 0;
  }
  .content__section-categories {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header__h-mobphone {
    padding-right: 15px;
  }
  .h-mobphone {
    width: 40px;
  }
  .h-nav__link {
    line-height: 24px;
  }
  .c-trailers__bottom {
    text-align: center;
    height: auto;
  }
  .c-trailers__button {
    float: none;
    display: inline-block;
  }
  .c-trailers__info {
    float: none;
    display: inline-block;
    margin-bottom: 0;
  }
  .c-trailers__price {
    padding-left: 0;
    text-align: center;
  }
  .c-trailers__description {
    height: auto;
  }
  .c-services__item {
    margin-bottom: 40px;
  }
  .content__section-sixth {
    padding-bottom: 0;
    padding-top: 80px;
  }
  .callback {
    width: auto;
    max-width: 636px;
  }
  .callback__wrapper {
    padding: 20px 30px;
  }
  .c-card-left .c-trailers__bottom {
    max-width: 100% !important;
    width: 100%;
  }
  .c-card-left .c-trailers__button {
    float: left;
  }
  .c-card-left .c-trailers__info {
    float: right;
    margin: 13px 0 11px;
  }
  .c-card-left .c-trailers__price {
    text-align: left;
  }
  .content__section-card {
    padding-bottom: 70px;
  }
  .content__section-card {
    padding-top: 40px;
  }
  .c-trailers__info-wpi {
    width: 100%;
    margin-top: 30px;
  }
  .c-contacts__row .c-contacts__input:last-child {
    width: 100%;
    float: none;
  }
  .c-contacts__row .c-contacts__input:first-child {
    width: 100%;
    float: none;
  }
  .c-goods .c-trailers__price {
    padding-left: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .c-caption__title {
    font-size: 47px;
    line-height: 68px;
  }
  .content__section-first {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .content__section-second {
    padding: 30px 0;
  }
  .content__section-third {
    padding: 30px 0;
  }
  .c-dealers-left {
    padding-top: 30px;
  }
  .c-dealers-right {
    padding-bottom: 30px;
  }
  .content__section-fourth {
    padding-bottom: 30px;
  }
  .c-dealers__video iframe {
    height: 190px;
  }
  .content__section-fifth {
    padding: 30px 0;
  }
  .c-trailers__photo {
    height: 200px;
  }
  .c-photos__slider .owl-nav,
  .c-trailers__slider .owl-nav {
    right: 0;
  }
  .c-photos {
    margin-top: 30px;
  }
  .c-services__item {
    margin-bottom: 30px;
  }
  .content__section-sixth {
    padding-top: 30px;
  }
  .c-services__item {
    margin-top: 0;
  }
  .callback__title {
    font-size: 30px;
    line-height: 35px;
  }
  .fancybox-close-small {
    right: 6px;
    top: 6px;
    width: 18px;
    height: 18px;
  }
  .c-title__button {
    width: 100%;
  }
  .c-title__button span {
    left: 10px;
    right: 10px;
  }
  .c-trailers__info-wp {
    width: 100%;
    text-align: center;
    float: none;
    padding-top: 20px;
  }
  .c-card-left .c-trailers__info {
    float: none;
    margin: 0;
  }
  .c-card-left .c-trailers__button {
    float: none;
  }
  .c-instructions__download {
    margin-left: 50px;
    margin-right: 16px;
    font-size: 14px;
  }
  .c-instructions__download::before {
    left: -50px;
  }
  .c-contacts-right {
    padding-bottom: 30px;
  }
  .c-contacts__button {
    margin-top: 0;
  }
  .content__section-card {
    padding: 30px 0;
  }
  .c-manufacture__button {
    margin-top: 30px;
  }
  .content__section-categories {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .c-categories__item {
    margin-top: 30px;
  }
  .c-categories .c-trailers__mark {
    display: block;
    width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .header__h-mobphone {
    display: none;
  }
  .h-nav__mobbtn {
    display: none;
  }
  .h-catalog-mob {
    display: none;
  }
  .footer__f-buttons {
    display: none;
  }
  .content__section-mob {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
